version: "3.7"
services:
  db:
    build: development/db
    ports:
      - "15432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DB_APP_NAME: ${DB_APP_NAME}
      DB_APP_USER: ${DB_APP_USER}
      DB_APP_PASS: ${DB_APP_PASS}
    volumes:
      - "./data:/var/data/db"
  webserver:
    build: ./
    ports:
      - "9010:9010"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/impera-bot
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      IMPERA_USERNAME: ${IMPERA_USER_NAME}
      IMPERA_PASSWORD: ${IMPERA_USER_PASSWORD}
